<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
    <script defer type="text/javascript" src="{{ url_for('static', filename='script.js')}}"></script>
    <title>Document</title>
</head>

<body>
    <form action="/create/user" method="post">
        <Label for="first_name">First Name:<input type="text" name="first_name" required></Label>
        <Label for="last_name">Last Name:<input type="text" name="last_name" required></Label>
        <Label for="email">Email adress:<input type="text" name="email" required></Label>
        <Label for="password">Password:<input type="password" name="password" required></Label>
        <Label for="passwordcheck">Confirm Password:<input type="password" name="passwordcheck" required></Label>
        <input type="submit"value="Create User">
    </form>
    <form action="/login/user" method="post"> 
        <Label for="email">Email adress:<input type="text" name="email" placeholder="emailed@e.com" required></Label>
        <Label for="password">Password:<input type="password" name="password" placeholder="Password1?" required></Label>
        <input type="submit" name="submit" class="btn btn1" />
    </form>
    <h1>Pokemon!</h1>
    <button onclick="getPokemonData()">Get Pokemon!</button>
    <img>
        <p id="myPokemonName"></p>
        <img id="myPokemonImg" src=""></img>
        <p id="next"></p>
</div>
</body>

</html>