{%extends "layout.html"%}{%block body%}


    <div class="login_button_container">
        <button class="login_button digital_font" onclick="returningTrainer()">Returning Trainer</button>
        <button class="login_button digital_font" onclick="newTrainer()">New Trainer </button>
    </div>
    <div id="login_form"></div>
    
    
    <!-- <h1>Pokemon!</h1>
    <button onclick="getPokemonData()">Get Pokemon!</button>
    <img>
        <p id="myPokemonName"></p>
        <img id="myPokemonImg" src=""></img>
        <p id="next"></p> -->
</div>
{% endblock %}