<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
    <script defer type="text/javascript" src="{{ url_for('static', filename='script.js')}}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Layout</title>
</head>

<body>
    <div class="header_wrapper">
        {%if session%}
        <div class="header_option_wrapper">
            <!-- <h3 class="digital_font">Check</h3> -->
            <h3 class="digital_font">Pokedex</h3>
            <a href="/pokedex">
                <img class="header_option" src="{{ url_for('static', filename='assets/pokedex.png')}}">
            </a>
        </div>
        {%endif%}
        <div class="header_center">
            <img class="header_logo" src="{{ url_for('static', filename='assets/pokemon_logo.png')}}"
                alt="Pokemon Logo">
            {%if session%}
            <h2 class="digital_font">Welcome {{session.first_name}}!</h2>
            {%endif%}
        </div>
        {%if session%}
        <div class="header_option_wrapper">
            <!-- <h3 class="digital_font">Catch</h3> -->
            <h3 class="digital_font">Pokemon</h3>
            <a href="/search/pokemon">
                <img class="header_option" src="{{ url_for('static', filename='assets/pokeball.png')}}">
            </a>
        </div>
        {%endif%}
    </div>

    <a href='/'>Home</a>
    <a href="/logout">Log Out</a>
    {% with messages = get_flashed_messages() %}
      <!-- declare a variable called messages -->
      {% if messages %}
      <!-- check if there are any messages -->
      {% for message in messages %}
      <!-- loop through the messages -->
      <li>{{message}}</li>
      <!-- display each message in a paragraph tag -->
      {% endfor %} {% endif %} {% endwith %}
    {% block body %}{% endblock %}
</body>

</html>