<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
    <script defer type="text/javascript" src="{{ url_for('static', filename='script.js')}}"></script>
    <title>Layout</title>
</head>

<body>
    <div class="header_wrapper">
        <div class="header_option_wrapper">
            <h3>Check Pokedex</h3>
            <a href="/">
                <img class="header_option" src="{{ url_for('static', filename='assets/pokedex.png')}}">
            </a>
        </div>
        <img class="header_logo" src="{{ url_for('static', filename='assets/pokemon_logo.png')}}" alt="Pokemon Logo">
        <div class="header_option_wrapper">
            <h3>Catch Pokemon</h3>
            <a href="/">
                <img class="header_option" src="{{ url_for('static', filename='assets/pokeball.png')}}">
            </a>
        </div>

    </div>
    {%if session%}
    <h2>Welcome {{session.first_name}}</h2>
    {%endif%}
    <a href='/'>Home</a>
    <a href="/logout">Log Out</a>
    {% block body %}{% endblock %}
</body>

</html>