{%extends "layout.html"%}{%block body%}
<h1>Pokedex Page!</h1>
<form class="pokedex_form" action="/pokedex/display" method="post">
    <label>
        <input class="nes-radio" type="radio" name="answer" value="my">
        <span>My Pokemon</span>
    </label>
    <label>
        <input class="nes-radio" type="radio" name="answer" value="all">
        <span>All Pokemon</span>
    </label>
    <input class="nes-btn" type="submit" value="Go!">
</form>


<p id="pokedexPokemonName"></p>


{%if pokemon_list%}
<p>{{pokemon_list[number].name}}</p>
<img class="pokemon_img" id="pokedexPokemonImg" src=""></img>
<p id="api_number">{{pokemon_list[number].api_index}}</p>
<button>Left</button>
<button onclick=loadPokemon()>Load Pokemon</button>
<button>Right</button>
{%endif%}
{% endblock %}