<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
    <script defer type="text/javascript" src="{{ url_for('static', filename='script.js')}}"></script>
    <title>Document</title>
</head>

<body>
    <h1>Pokemon!</h1>
    <h2>Search Page</h2>
    <div>
        <button onclick="getPokemonData()">Get Pokemon!</button>
        <img>
        <p id="myPokemonName"></p>
        <img id="myPokemonImg" src=""></img>
        <p id="next"></p>
    </div>
</body>

</html>