{%extends "layout.html"%}{%block body%}

<div class="search_body">
    <h1>Cacth some Pokemon!</h1>
    <button onclick="getPokemonData()">Get Pokemon!</button>
    <img>
    <p id="myPokemonName"></p>
    <img class="pokemon_img" id="myPokemonImg" src=""></img>
    <p id="next"></p>
    <div id="selections" class="selections" style="display:none;">
        <button class="selection" data-selection="water">💧</button>
        <button class="selection" data-selection="fire">🔥</button>
        <button class="selection" data-selection="grass">🌱</button>`
    </div>
</div>
<div id=results class="results"></div>
<div id="new_pokemon_form" class="new_pokemon_form">
</div>
{% endblock %}